#form-div{
  display: flex;
  align-content: center;
  padding: 50px;
  justify-content: space-around;
}

#gender-label{
  width: auto;
}

#register-div{
  display: flex;
  justify-content: space-around;
}

#telephone-number{
  width: 320px;
}

#gender {
  font-family: "Poppins";
  color: #000;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: medium;
  background-color: #fff;
  width: 135%;
  margin-left: -15px;
  padding-bottom: 19px;
  margin-right: 9px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #FF996D;
  color: #ffffff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #ffffff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #fff;
}

.message,
.signin {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #fff;
}

.flex {
  display: flex;
  width: 95%;
  gap: 20px;
}

.form label {
  position: relative;
}

.long-input{
  width: 95%;
}

.form label .input {
  color: #000;
  width: 100%;
  padding: 21px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

#date-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 203px;
}

.form label .input + span {
  color: #000000;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #000000;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #000000;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit:hover {
  background-color: #6a6762;
  transform: translateY(-5px);
}

.submit:focus {
    outline: none;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
