header {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: 'Poppins';
  }

  h3 {
    flex:2;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  
  .logo {
    flex: 1;
  }
  .logo img {
    height: 200px;
  }

  nav {
    flex: 1;
    display: flex;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    margin-left: 1.5rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 24px;
  }
  
  nav ul li a:hover {
    color: #ffe57f;
  }