footer {
  background: linear-gradient(to right, #927169, #5e5044);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    position: relative;
    font-family: 'Poppins';
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  
  .footer-bottom {
    padding: 1rem 0;
    border-top: 1px solid #444;
    margin-top: 1rem;
  }
  