<h3>Ecco la tua prenotazione!</h3>
@if (holidayPackage) {
<article id="card" class="package-card">
  <div class="card-effect">
    <div class="card-effect-inner">
      <div class="card-effect-front">
        <img src="assets/images/packages/{{ holidayPackage.imagePath }}" alt="" />
      </div>
      <div class="card-effect-back">
        <h3>{{ holidayPackage.title }}</h3>
        <p>{{ holidayPackage.city }} , {{ holidayPackage.country }}</p>
        <p class="description">{{ holidayPackage.description }}</p>
        <ol id="attraction-visits">
          @for (av of holidayPackage.attractionVisits; track av.id) {
            <li>
              <p (click)="goToAttraction(av)">{{ av.attractionName }}</p>
            </li>
          }
        </ol>
      </div>
    </div>
  </div>
</article>
<article id="card">
  <div class="card-effect">
    <div class="card-effect-inner">
      <div class="card-effect-front">
        <img src="assets/images/restaurantsandhotels/restaurantsandhotels1.jpg" alt="" />
      </div>
      <div class="card-effect-back">
        <h3>Ristoranti</h3>
        @for (r of restaurants; track r.id) {
          <p (click)="showMapFunction(r.latitude, r.longitude)">{{ r.name }}</p>
        }
        @if (hotel) {
        <div>
          <h3>Hotel</h3>
          <p (click)="showMapFunction(hotel.latitude, hotel.longitude)">{{ hotel.name }}</p>
          @if (showMap) {
            <div id="map" style="height: 400px; width: 100%;"></div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</article>
@if (guide) {
<article id="card">
  <div class="card-effect">
    <div class="card-effect-inner">
      <div class="card-effect-front">
        <img id="guide-image" src="/assets/images/guide/{{guide.image}}" alt="">
      </div>
      <div class="card-effect-back">
        <span>Guida</span>
        <p class="description">{{ guide.firstname }} {{guide.lastname}}</p>
        <p class="description">{{ guide.introduction }}</p>
        <span>Contatti</span>
        <p class="description">{{ guide.telephoneNumber }}</p>
        <p class="description">{{ guide.email }}</p>
      </div>
    </div>
  </div>
</article>
}
} @else {
<div class="no-package-wrapper">
  <p>Nessun pacchetto trovato!</p>
  <button id="home-button" routerLink="">Torna alla home</button>
</div>
}
