@if (holidayPackage) {
<article>
  <h3>{{ holidayPackage.title }}</h3>
  <p>{{ holidayPackage.city }} , {{ holidayPackage.country }}</p>
  <p>{{ holidayPackage.description }}</p>
  <img src="assets/images/packages/{{ holidayPackage.imagePath }}" alt="" />
  <ol>
    @for (av of holidayPackage.attractionVisits; track av.id){
    <li>
      <p (click)="goToAttraction(av)">{{ av.attractionName }}</p>
    </li>
    }
  </ol>
  <div>
    <span>ristoranti</span>
    @for (r of restaurants; track r.id){
    <p>{{ r.name }}</p>
    }
  </div>
  @if(hotel){
  <div>
    <span>hotel</span>
    <p>{{ hotel.name }}</p>
  </div>
  }
  @if(guide){
    <div>
      <span>Guida</span>
      <p>{{ guide.firstname }}</p>
    </div>
    }
</article>
} @else {
<div class="no-package-wrapper">
  <p>Nessun pacchetto trovato!</p>
  <button id="home-button" routerLink="">Torna alla home</button>
</div>
}
