<body>
    <article class="content">
        <div id = "logo">
        <img src="/assets/images/logo/epicTrip.jpg" alt="epicTripLogo" id="img">
        </div>
        <p id="title"><strong>Chi siamo</strong></p>
        <div id="about-us-container">
        <p id="about-us">Il nostro è un team composto da cinque ragazzi che hanno intrapreso un corso intensivo di Generation su Java, che ci ha fornito gli strumenti per sviluppare la nostra web application. 
            In questo progetto abbiamo unito le nostre competenze e la nostra creatività per sviluppare un'applicazione incentrata sui viaggi, un tema che appassiona e coinvolge tutti i membri del nostro team.
            Il nostro sito offre agli utenti la possibilità di scegliere un tour che soddisfi le loro esigenze, proponendo una vasta gamma di opzioni
            differenziate per contenuto e prezzo. Abbiamo selezionato come destinazioni principali tre città affascinanti e culturalmente ricche:
            Lisbona, New York e Istanbul.
            Tuttavia, in futuro prevediamo di ampliare e migliorare il servizio per renderlo ancora più accessibile e disponibile a una gamma più ampia di clienti e per molte più città.
            Questo progetto ci ha permesso di crescere sia professionalmente che personalmente, rafforzando le nostre competenze tecniche e migliorando le nostre 
            capacità di team building. Siamo orgogliosi del risultato finale e pronti ad affrontare nuove sfide lavorative con lo stesso entusiasmo e dedizione.</p></div>
    </article>
</body>