<body>
    <article class="content">
        <div id = "logo">
        <img src="/assets/images/logo/epicTrip.jpg" alt="epicTripLogo" id="img">
        </div>
        <h1>Chi siamo</h1>
        <p><strong>Il nostro è un team composto da cinque ragazzi che hanno intrapreso insieme un corso intensivo di Generation su Java, apprendendo anche altri linguaggi come: JavaScript, TypeScript, HTML, CSS e SQL, che ci hanno fornito gli strumenti per sviluppare la nostra web application. 
        In questo progetto abbiamo deciso di unire le nostre competenze e la nostra creatività per sviluppare un'applicazione incentrata sui viaggi 
        e i tour, un tema che appassiona e coinvolge tutti i membri del nostro team.
        Il nostro sito offre agli utenti la possibilità di scegliere un tour che soddisfi le loro esigenze, proponendo una vasta gamma di opzioni
        differenziate per contenuto, prezzo e qualità. Abbiamo selezionato come destinazioni principali tre città affascinanti e culturalmente ricche:
        Lisbona, New York e Istanbul.
        Tuttavia, in futuro prevediamo di ampliare e migliorare il servizio per renderlo ancora più accessibile e disponibile a una gamma più ampia di clienti.
        Questo progetto ci ha permesso di crescere sia professionalmente che personalmente, rafforzando le nostre competenze tecniche e migliorando le nostre 
        capacità di collaborazione. Siamo orgogliosi del risultato finale e pronti ad affrontare nuove sfide con lo stesso entusiasmo e dedizione.</strong></p>
    </article>
</body>