<article id="card-container">
  @if(attractionVisit){
  <ul style="list-style: none; padding: 0;">
    <li id="attraction-name">{{ attractionVisit.attractionName }}</li> <!-- Rimuovi i punti elenco e il padding -->
    <div class="img">
      <img src="/assets/images/packages/istanbul.jpg" alt="">
    </div>
    <div id="attraction-desc">
      <li>{{ attractionVisit.attractionDescription }}</li>
    </div>
  </ul>
  }
  <div id="button-wrapper">
    <button (click)="goBack()" id="back-button">Torna indietro</button>
  </div>
</article>