#back-button {
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 20px;
  transform: 0.3s ease;
  background-color: #000000;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

#back-button:hover {
  cursor: pointer;
  background-color: #927169;
  transform: translateY(-5px);
}
#back-button:focus {
  outline: none;
}

#button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  max-width: 60%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 2px solid #F08080;
}

#attraction-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
}

#attraction-name {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
  color: #333;
}