<article id="card-container">
  @if(attractionVisit){
  <ul style="list-style: none; padding: 0">
    <li id="attraction-name">{{ attractionVisit.attractionName }}</li>
    <div class="img">
      <img
        src="/assets/images/attraction/{{
          attractionVisit.city.replace(' ', '')
        }}/{{ attractionVisit.image }}"
        alt=""
      />
    </div>
    <div id="attraction-desc">
      <li>{{ attractionVisit.attractionDescription }}</li>
    </div>
  </ul>
  }
  <div id="button-wrapper">
  @if(fromSurvey){
    <button id="back-button" (click)="goBackToCard()">Torna indietro</button>
}@else if(!fromSurvey && fromSearch){
    <button id="back-button" (click)="goBackToSearchResult()">
      Torna indietro
    </button>
} @else {
    <button id="back-button" (click)="goBackToReservation()">
      Torna indietro
    </button>
}
  </div>
</article>
