@if (holidayPackage) {
<article>
  <h3>{{ holidayPackage.title }}</h3>
  <p>{{ holidayPackage.city }} , {{ holidayPackage.country }}</p>
  <p>{{ holidayPackage.description }}</p>
  <img src="assets/images/packages/{{ holidayPackage.imagePath }}" alt="" />
  <ol>
    @for (av of holidayPackage.attractionVisits; track av.id){
    <li>
      <p (click)="goToAttraction(av)">{{ av.attractionName }}</p>
    </li>
    }
  </ol>
  <button>Prenota!</button>
</article>
} @else {
  <p>No holiday package found</p>
}