@if (holidayPackage) {
<article id="card">
  <h3>{{ holidayPackage.title }}</h3>
  <p>{{ holidayPackage.city }} , {{ holidayPackage.country }}</p>
  <p>{{ holidayPackage.description }}</p>
  <img src="assets/images/packages/{{ holidayPackage.imagePath }}" alt="" />
  <ol>
    @for (av of holidayPackage.attractionVisits; track av.id){
    <li>
      <p (click)="goToAttraction(av)">{{ av.attractionName }}</p>
    </li>
    }
  </ol>
  <button (click)="goToReservation(holidayPackage)" id="prenota">
    Prenota ora!
  </button>
</article>
} @else {
<div class="no-package-wrapper">
  <p>Nessun pacchetto trovato!</p>
  <button id="home-button" routerLink="">Torna alla home</button>
</div>
}
