<div id="card-container">
  <div id="attraction-name">La nostra proposta di ospitalità:</div>
  <div id="attraction-desc">
    <h3>{{hotel?.name}}</h3>
    <p>{{hotel?.street}} {{hotel?.houseNumber}} {{hotel?.city}}</p>
  </div>
  <div class="img">
    <div id="map"></div>
  </div>
</div>

<div id="card-container">
  <div id="attraction-name">Per questa esperienza proponiamo i seguenti ristoranti:</div>
  <div id="attraction-desc">
    @for (r of restaurants; track r.id) {
      <h3>{{r.name}}</h3>
      <p>{{r.street}} {{r.houseNumber}}</p>
    }
  </div>
</div>

<div class="model">
    <form class="form" #paymentForm="ngForm" (ngSubmit)="onSubmit(paymentForm)">
      <div id="register-div">
        <p class="title">Pagamento</p>
      </div>
      <p class="message">
        Completa il modulo qui sotto per completare l'acquisto.
      </p>
  
      <div class="payment--options">
        <button name="paypal" type="button">
          <img src="/assets/images/payment/paypal.png" alt="PayPal">
        </button>
        <button name="mastercard" type="button">
          <img src="/assets/images/payment/mastercard.png" alt="Mastercard">
        </button>
        <button name="visa" type="button">
          <img src="/assets/images/payment/visa.jpg" alt="Visa">
        </button>
      </div>
  
      <div class="separator">
        <hr class="line">
        <p>Usa la tua carta di credito</p>
        <hr class="line">
      </div>
  
      <div class="credit-card-info--form">
        <div class="input_container">
          <label for="card_name" class="input_label">Nome e cognome</label>
          <input id="card_name" class="input_field input" type="text" name="input-name" title="Input title" placeholder="Nome e cognome" ngModel>
        </div>
        <div class="input_container">
          <label for="card_number" class="input_label">Numero della carta</label>
          <input id="card_number" class="input_field input" type="number" name="input-name" title="Input title" placeholder="0000 0000 0000 0000" ngModel>
        </div>
        <div class="input_container">
          <label for="expiry_date" class="input_label">Data di scadenza / CVV</label>
          <div class="split">
            <input id="expiry_date" class="input_field input" type="text" name="input-name" title="Expiry Date" placeholder="Scadenza" ngModel>
            <input id="cvv" class="input_field input" type="number" name="cvv" title="CVV" placeholder="CVV" ngModel>
          </div>
        </div>
      </div>
      <button class="submit purchase--btn" type="submit">Checkout</button>
    </form>

    
  </div>
 
  
