<section>
    <h3>Benvenuti su EpicTrip</h3>
    <section>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatibus deserunt tempora nisi voluptatum similique, iste repellat accusamus. Blanditiis totam fugiat eum, quisquam in exercitationem debitis? In, sint fugiat. Ducimus.</section>
    <div>
        <button [routerLink] = "['/search']">Vai alla ricerca di pacchetti per città</button>
        <button routerLink = '/showSurvey'>Compila il nostro survey per una proposta customizzata al massimo</button>
    </div>
</section>
