/* General Styles */
body {
    font-family: 'Poppins';
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

article {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

article:hover {
    transform: translateY(-10px);
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

p.description {
    font-size: 16px;
    color: #7f8c8d;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}

ol {
    padding-left: 20px;
    list-style-type: decimal;
    margin: 20px 0;
}

li {
    background: #ecf0f1;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

li p {
    margin: 0;
}

li p:first-child {
    font-weight: bold;
    color: #2980b9;
    font-size: 18px;
}

li p:last-child {
    font-size: 14px;
    color: #7f8c8d;
}

/* Section Styles */
section {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    border-radius: 12px;
    text-align: center;
}

section #img-section {
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 20px;
    border: none;
}

button {
    background-color: #fff;
    color: #ff7e5f;
    border: none;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #000000;
    transform: translateY(-5px);
}

button:focus {
    outline: none;
}
